* container {
flex-wrap: wrap;
}

.options {
    margin: 20px;
}
   
.tiktok {
    float: inline-start;
    color: orange;
    font-size: 30px;
    margin-bottom: 20px;
}

button {
    border-radius: 10px;
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
button:hover {
    color: teal;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: teal;

}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    font-size: 35px;
}

li {
    background-color: teal;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 20px;
    color: white;
}

   
/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
    body {
        max-width: 786px;
    }
/* Resized main-content to fit 786px  */
.container {
    position: absolute;
    left: 20%;
}

}          
/* A Media Query max-width: 680px */
@media screen and (max-width: 680px) {
 /* Resized content to fit 680px  */
body {
    min-width: 680px;
}
 /* Resized main-content to fit 680px  */
.container {
    position: absolute;
    left: 10%;
}

}
